{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Leapt Core bundle Demo</h1>

    <ul>
        <li><a href="{{ path('app_gallery_index') }}">File uploads w/ Flysystem</a></li>
    </ul>
{% endblock body %}

{% block footer %}
{% endblock footer %}
