{% extends 'layout.html.twig' %}
{% set active_section = 'datalist' %}

{% block body %}
    <h1>Data list</h1>

    {% if datalist is empty %}
        <div class="alert alert-info">No news available.</div>
    {% else %}
        {{ datalist_widget(datalist) }}
    {% endif %}
{% endblock body %}

{% block footer %}
    <hr>

    Style:
    {% set links = { 'Default': 'index', 'Bootstrap 3': 'bootstrap_3', 'Bootstrap 4': 'bootstrap_4', 'Bootstrap 5': 'bootstrap_5' } %}
    {% for label, link in links %}
        {% if is_active_path(path("app_datalist_#{link}")) %}<strong>{% endif %}
        <a href="{{ path("app_datalist_#{link}") }}">{{ label }}</a>
        {% if is_active_path(path("app_datalist_#{link}")) %}</strong>{% endif %}
        {% if not loop.last %} - {% endif %}
    {% endfor %}

    {{ parent() }}
{% endblock footer %}
