{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Paginator</h1>

    <p>With 5 items per page.</p>

    <ul>
        {% for language in paginator %}
            <li>{{ language }}</li>
        {% endfor %}
    </ul>

    <p>Pagination :</p>
    {{ paginator_widget(paginator) }}

{% endblock body %}
